<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dhun | Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container">
            <div class="left-container">
                <div class="left-content">
                    <!-- <h1>LOGO</h1> -->
                    <img src="assets/images/logodhun.png" alt="">
                    <ul>
                        <li><a href="/">
                                <div class="link-img"><img src="assets/images/home.svg" alt="">Home</div>
                            </a></li>
                        <li><a href="/browse">
                                <div class="link-img"><img src="assets/images/browse.svg" alt="">Browse</div>
                            </a></li>
                        <li><a href="/library">
                                <div class="link-img"><img src="assets/images/library.svg" alt="">Library</div>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="right-container">
                <div class="right-content">
                    <div class="wrap">
                        <form class="searchform">
                            <div class="search-inside-flex">
                                <a href="#"><img src="assets/images/search.svg" alt=""></a>
                                <input type="text" placeholder="Search artists, songs, albums...">
                            </div>                                                                                                                                                                                                                                                                                                                                                                                                              
                            <a href="#"><img src="assets/images/mic.svg" alt=""></a>
                        </form>
                    </div>
                    <div class="signup-button-flex">
                        <a href="http://" class="no-bg-button">Sign Up</a>
                        <a href="http://" class="box-button">Log In</a>
                    </div>
                </div>
                <div class="right-main-browse-container" style="height: 100vh;">
                    <h2>Browse All</h2>
                    <div class="browse-content">
                        <% allCategory.forEach(function(item){ %>
                            <a href="/browse/<%=item.id%>">
                                <div class="main-browse-box">
                                    <h3><%=item.name%></h3>
                                    <img src="assets/images/browse-img1.png" alt="">
                                </div>
                            </a>

                            <% }); %>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>