<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dhun | Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    </head>

<body>
    <!------------BODY HTML STARTS FROM HERE------------------------>



    <!------------LEFT AND RIGHT TOP SECTION STARTS FROM-------------->
    <section class="double-section">
        <div class="double-container">
            <%- include('partials/left-container'); %>
            <div class="right-container">
                <%- include('partials/side-header'); %>
                <div class="right-main-browse-container" style="height: 100vh;">
                    <h2>Browse All</h2>
                    <div class="browse-content">
                        <% allCategory.forEach(function(item){ %>
                            <a href="/browse/<%=item.id%>">
                                <div class="main-browse-box">
                                    <h3><%=item.name%></h3>
                                    <img src="assets/images/browse-img1.png" alt="">
                                </div>
                            </a>

                            <% }); %>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------LEFT AND RIGHT TOP SECTION ENDS FROM HERE--------------------->





    <!---------------BODY HTML ENDS FROM HERE-------------------------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>